@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./animations.css";

:root {
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
}

#mainHangedMan {
  animation: Swing ease-in-out 3s infinite;
  transform-origin: top center;
}
